@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:300,regular,500,600,700);
@import "tailwindcss";

@theme {
  --color-black: rgba(0, 0, 0, 1);
  --color-dark-purple: rgba(92, 45, 213, 1);
  --color-purple: rgba(121, 69, 255, 1);
  --color-red: rgba(253, 102, 135, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-yellow: rgba(255, 206, 103, 1);
  --font-space-grotesk: "Space Grotesk";
}
